<%= stylesheet_link_tag "navbar.min.css" %>

<!-- <header> -->
  <!-- <div class="container"> -->
    <nav class="navbar">
      <a class="navbar-logo"><%= image_tag "flame-logo.png", class: "humidifire_logo" %></a>
      <form class="menu-items">
        <div class="btn btn-outline-success"><%= link_to 'Products', hello_products_path %></div>
        <div class="btn btn-outline-success"><%= link_to 'Blogs', hello_blogs_path %></div>
        <div class="btn btn-outline-success"><%= link_to 'About Us', hello_about_path %></div>
        <div class="btn btn-outline-success"><%= link_to 'Login', hello_login_path %></div>
      </form>
    </nav>
  <!-- </div> -->
<!-- </header> -->
